---
whiskers:
  version: "2.5.0"
  hex_format: "#{{r}}{{g}}{{b}}"
  matrix:
    - flavor
  filename: "themes/catppuccin-{{flavor.identifier}}.conf"
---
{%- set palette = flavor.colors -%}
[General]
backgroundFill={{ palette.base.hex | lower }}
basicTextColor={{ palette.text.hex | lower }}
passwordCursorColor={{ palette.text.hex | lower }}
passwordInputBackground={{ palette.base.hex | lower }}
passwordTextColor={{ palette.text.hex | lower }}
